<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Hospital Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/{{token}}/{{currentRole}}"
                        *ngIf="currentRole === 'ROLE_ADMIN' || currentRole === 'ROLE_DOCTOR'">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/patients/{{token}}/{{currentRole}}"
                        *ngIf="currentRole === 'ROLE_ADMIN' || currentRole === 'ROLE_USER'">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/appointments/{{token}}/{{currentRole}}"
                        *ngIf="currentRole === 'ROLE_ADMIN'">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/treatmenthistories/{{token}}/{{currentRole}}"
                        *ngIf="currentRole === 'ROLE_ADMIN'">Treatment History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bills/{{token}}/{{currentRole}}"
                        *ngIf="currentRole === 'ROLE_ADMIN'">Bills</a>
                </li>
            </ul>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-warning"
                routerLink="/savetreatmenthistory/{{token}}/{{currentRole}}" *ngIf="currentRole === 'ROLE_ADMIN'">Save
                Treatment History</button>
            <button type="button" class="btn btn-outline-danger" routerLink="">Log Out</button>
        </div>
    </div>
</nav>

<!-- Get Treatment History List From Database -->
<div class="container">
    <div class="row justify-content-center align-items-center">
        <h1 class="display-6 text-center" *ngIf="allTreatmentHistoriesList.length > 0">Treatment History's List</h1>
        <table class="table table-hover table-striped">
            <thead *ngIf="allTreatmentHistoriesList.length > 0">
                <tr>
                    <th>Patient Name</th>
                    <th>Doctor Assigned</th>
                    <th>Doc Specialisation</th>
                    <th>Problem Description</th>
                    <th>Treatment Status</th>
                    <th>Symptoms</th>
                    <th>Treatment</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let treatmentHistory of allTreatmentHistoriesList;">
                    <td>{{treatmentHistory.patient.name}}</td>
                    <td>{{treatmentHistory.doctor.name}}</td>
                    <td>{{treatmentHistory.doctor.specialisation}}</td>
                    <td>{{treatmentHistory.patient.briefProblemDescription}}</td>
                    <td>{{treatmentHistory.patient.treatmentStatus}}</td>
                    <td>{{treatmentHistory.symptoms}}</td>
                    <td>{{treatmentHistory.treatment}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm"
                            (click)="updateTreatmentWithId(treatmentHistory)">Update Treatment</button>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="deleteTreatmentHistory(treatmentHistory)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Delete Treatment History -->
    <div class="text-center mt-4 name">
        <!-- Setting up message -->
        <div class="alert alert-success "
            *ngIf="isTreatmentHistoryDeleteSuccess && deleteTreatmentHistorySuccessMessage.length > 0">
            <strong>{{deleteTreatmentHistorySuccessMessage}}</strong>
        </div>

        <div class="alert alert-danger "
            *ngIf="!isTreatmentHistoryDeleteSuccess && deleteTreatmentHistoryErrorMessage.length > 0">
            <strong>{{deleteTreatmentHistoryErrorMessage}}</strong>
        </div>
    </div>

    <!-- Update Treatment -->
    <div class="container-fluid" *ngIf="isUpdateTreatmentHistory">
        <h1 class="display-6 text-center">Update Treatment for Patient : {{currentTreatmentHistoryForPatient}}</h1>
        <form (ngSubmit)="updateTreatment()" #updateTreatmentHistoryForm="ngForm">
            <div class="row mb-3">
                <label for="treatment" class="col-sm-2 col-form-label bold">Treatment</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="treatment" name="treatment" rows="4" cols="50" required
                        ngModel></textarea>
                    <span class="help-text errorFont"
                        *ngIf="!updateTreatmentHistoryForm.controls.treatment.valid && updateTreatmentHistoryForm.controls.treatment.touched">Please
                        enter treatment for patient</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-success" [disabled]="!updateTreatmentHistoryForm.valid">Update
                        Treatment</button>
                </div>
            </div>
        </form>

        <div class="text-center mt-4 name">
            <!-- Setting up message -->
            <div class="alert alert-success "
                *ngIf="isUpdateTreatmentHistoryFormSubmitted && isUpdateTreatmentHistorySuccess && updateTreatmentHistorySuccessMessage.length > 0">
                <strong>{{updateTreatmentHistorySuccessMessage}}</strong>
            </div>

            <div class="alert alert-danger "
                *ngIf="isUpdateTreatmentHistoryFormSubmitted && !isUpdateTreatmentHistorySuccess && updateTreatmentHistoryErrorMessage.length > 0">
                <strong>{{updateTreatmentHistoryErrorMessage}}</strong>
            </div>
        </div>
    </div>


    <!-- If the Doctor's List is Empty -->
    <div class="alert alert-primary text-center" *ngIf="allTreatmentHistoriesList.length < 1">
        <strong>There is no treatment history in HM to display </strong>
    </div>

    <!-- In case there is any issue fetching doctor's List -->
    <div class="alert alert-danger text-center container-fluid" *ngIf="getAllTreatmentHistoriesErrorMessage">
        <strong>{{getAllTreatmentHistoriesErrorMessage}}</strong>
    </div>