<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Hospital Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/doctors/{{token}}">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/patients/{{token}}">Patients</a>
                </li>
            </ul>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-outline-warning" routerLink="/savepatient/{{token}}">Save
                Patient</button>
            <button type="button" class="btn btn-outline-danger" routerLink="">Log Out</button>
        </div>
    </div>
</nav>

<!-- Get Patient's List From Database -->
<div class="container">
    <div class="row justify-content-center align-items-center">
        <h1 class="display-6 text-center" *ngIf="patientsList.length > 0">Patient's List</h1>
        <table class="table table-hover table-striped">
            <thead *ngIf="patientsList.length > 0">
                <tr>
                    <th>Name</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Brief Problem Description</th>
                    <th>Treatment Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientsList;">
                    <td>{{patient.name}}</td>
                    <td>{{patient.mobileNo}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.briefProblemDescription}}</td>
                    <td>{{patient.treatmentStatus}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"
                            (click)="getAllDoctorsForAPatient(patient)">Doctor</button>
                        <button type="button" class="btn btn-warning btn-sm"
                            (click)="getBillForPatient(patient)">Bills</button>
                        <button type="button" class="btn btn-dark btn-sm"
                            (click)="getAppointmentsForAPatient(patient)">Appointments</button>
                        <button type="button" class="btn btn-info btn-sm"
                            (click)="getTreatmentHistoriesForAPatient(patient)">Treatment Histories</button>
                        <button type="button" class="btn btn-secondary btn-sm"
                            (click)="updatePatientWithId(patient)">Update</button>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="deletePatient(patient)">Delete</button>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#assigndoctortopatient"
                            (click)="getAllDoctorsListForPatientMapping(patient)">Assign Doctor</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- The Modal -->
    <div class="modal" id="assigndoctortopatient">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title display-5 text-secondary">Choose doctor</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-danger text-center container-fluid" *ngIf="getAllDoctorsInHMErrorMessage">
                        {{getAllDoctorsInHMErrorMessage}}
                    </div>

                    <div class="row justify-content-center align-items-center">
                        <table class="table table-hover table-striped">
                            <thead *ngIf="getAllDoctorsList.length > 0">
                                <tr>
                                    <th>Name</th>
                                    <th>Specialisation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doctor of getAllDoctorsList;">
                                    <td>{{doctor.name}}</td>
                                    <td>{{doctor.specialisation}}</td>
                                    <td><button type="button" class="btn btn-outline-warning btn-sm"
                                            (click)="assignDoctorToPatientOperation(doctor.id)">Assign</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Setting up message -->
                    <div class="alert alert-success "
                        *ngIf="isAssignDoctorToPatientSuccess && assignDoctorToPatientMessage.length > 0">
                        <strong>{{assignDoctorToPatientMessage}}</strong>
                    </div>

                    <div class="alert alert-danger "
                        *ngIf="!isAssignDoctorToPatientSuccess && assignDoctorToPatientMessage.length > 0">
                        <strong>{{assignDoctorToPatientMessage}}</strong>
                    </div>

                    <!-- CASE : When no doctor to display -->
                    <div class="alert alert-primary text-center" *ngIf="getAllDoctorsList.length < 1 ">
                        <strong>There is no doctor in HM for the patient to be assigned </strong>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Patient -->
    <div class="text-center mt-4 name">
        <!-- Setting up message -->
        <div class="alert alert-success " *ngIf="isDeletePatientSuccess && deletePatientSuccessMessage.length > 0">
            <strong>{{deletePatientSuccessMessage}}</strong>
        </div>

        <div class="alert alert-danger " *ngIf="!isDeletePatientSuccess && deletePatientErrorMessage.length > 0">
            <strong>{{deletePatientErrorMessage}}</strong>
        </div>
    </div>

    <!-- Get All Doctors For A Patient -->
    <div class="container-fluid" *ngIf="isGetAllDoctorsForAPatient">
        <div class="alert alert-danger text-center container-fluid" *ngIf="getAllDoctorsForAPatientErrorMessage">
            {{getAllDoctorsForAPatientErrorMessage}}
        </div>

        <div class="row justify-content-center align-items-center">
            <h1 class="display-6 text-center" *ngIf="doctorListForAPatient.length > 0">Doctors
                For Patient :
                {{currentPatientName}}</h1>
            <table class="table table-hover table-striped">
                <thead *ngIf="doctorListForAPatient.length > 0">
                    <tr>
                        <th>Name</th>
                        <th>Specialisation</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctorListForAPatient;">
                        <td>{{doctor.name}}</td>
                        <td>{{doctor.specialisation}}</td>
                        <td>{{doctor.mobileNo}}</td>
                        <td>{{doctor.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- CASE : When no doctor to display -->
    <div class="alert alert-primary text-center" *ngIf="doctorListForAPatient.length < 1 && isGetAllDoctorsForAPatient">
        <strong>There is no doctor in HM for patient : {{currentPatientName}} </strong>
    </div>

    <!-- Bill For Patient -->
    <div class="container-fluid" *ngIf="isGetBillForAPatient">

        <div class="alert alert-danger text-center container-fluid" *ngIf="getBillForPatientErrorMessage">
            {{getBillForPatientErrorMessage}}
        </div>

        <h1 class="display-6 text-center" *ngIf="billListForPatient.length > 0">Bill For Patient :
            {{currentPatientName}}</h1>

        <div class="row  text-center" *ngIf="billListForPatient.length > 0">
            <label class="col-form-label bold">Name Of The Patient : {{currentBillForPatient.patient.name}}</label>
            <label class="col-form-label bold">Consultation Fee : INR {{currentBillForPatient.consultationFee}}</label>
            <label class="col-form-label bold">Pharmacy Fee : INR {{currentBillForPatient.pharmacyFee}}</label>
            <label class="col-form-label bold">Hospitalization Fee : INR
                {{currentBillForPatient.hospitalizationFee}}</label>
            <label class="col-form-label bold">Total Amount Of Bill : INR
                {{currentBillForPatient.totalAmountOfBill}}</label>
        </div>
    </div>

    <!-- CASE : When no bill to display -->
    <div class="alert alert-primary text-center" *ngIf="billListForPatient.length < 1 && isGetBillForAPatient">
        <strong>There is no bill currently in HM for patient : {{currentPatientName}} </strong>
    </div>

    <!-- Get All Appointments For A Patient -->
    <div class="container-fluid" *ngIf="isGetAllAppointmentsForAPatient">
        <div class="alert alert-danger text-center container-fluid" *ngIf="getAllAppointmentsForAPatientErrorMessage">
            {{getAllAppointmentsForAPatientErrorMessage}}
        </div>

        <div class="row justify-content-center align-items-center">
            <h1 class="display-6 text-center" *ngIf="appointmentsListForPatient.length > 0"> Appointments
                For Patient :
                {{currentPatientName}}</h1>
            <table class="table table-hover table-striped">
                <thead *ngIf="appointmentsListForPatient.length > 0">
                    <tr>
                        <th>Patient Name</th>
                        <th>Patient Mobile No</th>
                        <th>Doctor Assigned</th>
                        <th>Appointment Date</th>
                        <th>Appointment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointmentsListForPatient;">
                        <td>{{appointment.patientName}}</td>
                        <td>{{appointment.patientMobileNo}}</td>
                        <td>{{appointment.doctorAssignedName}}</td>
                        <td>{{appointment.appointmentDate}}</td>
                        <td>{{appointment.appointmentStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- CASE : When no appointments to display -->
    <div class="alert alert-primary text-center"
        *ngIf="appointmentsListForPatient.length < 1 && isGetAllAppointmentsForAPatient">
        <strong>There is no appointment in HM for patient : {{currentPatientName}} </strong>
    </div>

    <!-- Get All Treatment Histories For A Patient -->
    <div class="container-fluid" *ngIf="isGetAllTreatmentHistoriesForAPatient">
        <div class="alert alert-danger text-center container-fluid"
            *ngIf="getAllTreatmentHistoriesForAPatientErrorMessage">
            {{getAllTreatmentHistoriesForAPatientErrorMessage}}
        </div>

        <div class="row justify-content-center align-items-center">
            <h1 class="display-6 text-center" *ngIf="treatmentHistoriesListForAPatient.length > 0">Treatment Histories
                For Patient :
                {{currentPatientName}}</h1>
            <table class="table table-hover table-striped">
                <thead *ngIf="treatmentHistoriesListForAPatient.length > 0">
                    <tr>
                        <th>Doctor Name</th>
                        <th>Problem Description</th>
                        <th>Treatment Status</th>
                        <th>Symptoms</th>
                        <th>Prescription</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let treatmentHistory of treatmentHistoriesListForAPatient;">
                        <td>{{treatmentHistory.doctor.name}}</td>
                        <td>{{treatmentHistory.briefDescription}}</td>
                        <td>{{treatmentHistory.patient.treatmentStatus}}</td>
                        <td>{{treatmentHistory.symptoms}}</td>
                        <td>{{treatmentHistory.treatment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- CASE : When no treatment histories to display -->
    <div class="alert alert-primary text-center"
        *ngIf="treatmentHistoriesListForAPatient.length < 1 && isGetAllTreatmentHistoriesForAPatient">
        <strong>There is no treatment history in HM for patient : {{currentPatientName}} </strong>
    </div>

    <!-- Update Patient -->
    <div class="container-fluid" *ngIf="isUpdatePatient">
        <h1 class="display-6 text-center">Update Patient : {{currentPatientName}}</h1>
        <form (ngSubmit)="updatePatient()" #updatePatientForm="ngForm">
            <div class="row mb-3">
                <label for="patientName" class="col-sm-2 col-form-label bold">Name Of The Patient</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="patientName" name="patientName"
                        placeholder="Plz Enter Patient's Name" required ngModel>
                    <span class="help-text errorFont"
                        *ngIf="!updatePatientForm.controls.patientName.valid && updatePatientForm.controls.patientName.touched">Please
                        enter patient name</span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="mobileNo" class="col-sm-2 col-form-label bold">Mobile No </label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mobileNo" name="mobileNo"
                        placeholder="Plz Enter Mobile Number With 10 Digits" required ngModel>
                    <span class="help-text errorFont"
                        *ngIf="!updatePatientForm.controls.mobileNo.valid && updatePatientForm.controls.mobileNo.touched">Please
                        enter mobile Number with 10 digits</span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="briefProblemDescription" class="col-sm-2 col-form-label bold">Brief Problem
                    Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="briefProblemDescription" name="briefProblemDescription"
                        placeholder="Plz Enter Brief Problem Description" required ngModel>
                    <span class="help-text errorFont"
                        *ngIf="!updatePatientForm.controls.briefProblemDescription.valid && updatePatientForm.controls.briefProblemDescription.touched">Please
                        enter brief problem description</span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="address" class="col-sm-2 col-form-label bold">Address </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Plz Enter Address"
                        required ngModel>
                    <span class="help-text errorFont"
                        *ngIf="!updatePatientForm.controls.address.valid && updatePatientForm.controls.address.touched">Please
                        enter address</span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="treatmentStatus" class="col-sm-2 col-form-label bold">Treatment Status</label>
                <div class="col-sm-10">
                    <select class="form-control" id="treatmentStatus" name="treatmentStatus" required ngModel>
                        <option value="" disabled selected>Please choose correct treatment status</option>
                        <option value="NOT_STARTED">NOT_STARTED</option>
                        <option value="UNDER_TREATMENT">UNDER_TREATMENT</option>
                        <option value="RECOVERED">RECOVERED</option>
                    </select>
                    <span class="help-text errorFont"
                        *ngIf="!updatePatientForm.controls.treatmentStatus.valid && updatePatientForm.controls.treatmentStatus.touched">Please
                        select correct treatment status</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-success" [disabled]="!updatePatientForm.valid">Update
                        Patient</button>
                </div>
            </div>
        </form>
        <div class="text-center mt-4 name">
            <!-- Setting up message -->
            <div class="alert alert-success "
                *ngIf="isUpatePatientFormSubmitted && isUpdatePatientSuccess && updatePatientSuccessMessage.length > 0">
                <strong>{{updatePatientSuccessMessage}}</strong>
            </div>

            <div class="alert alert-danger "
                *ngIf="isUpatePatientFormSubmitted && !isUpdatePatientSuccess && updatePatientErrorMessage.length > 0">
                <strong>{{updatePatientErrorMessage}}</strong>
            </div>
        </div>
    </div>
</div>

<!-- If the Patient's List is Empty -->
<div class="alert alert-primary text-center" *ngIf="patientsList.length < 1">
    <strong>There is no patient in HM to display </strong>
</div>

<!-- In case there is any issue fetching patient's List -->
<div class="alert alert-danger text-center container-fluid"
    *ngIf="getAllPatientsErrorMessage && getAllPatientsErrorMessage.length > 0">
    <strong>{{getAllPatientsErrorMessage}}</strong>
</div>